		<div>
			<div>
				<label>Amount:</label>
				{{amount}}
			</div>
			<div>
				<label>typeOfPayment:</label>
				{{typeOfPayment}}
			</div>
			<div>
				<label>nameOnCard:</label>
				{{nameOnCard}}
			</div>
			<div>
				<label>cardNumber:</label>
				{{cardNumber}}
			</div>
			<div>
				<label>expirationDate:</label>
				{{expirationDate}}
			</div>
			<div>
				<label>cvv:</label>
				{{cvv}}
			</div>				
			<div>
				<label>address:</label>
				{{address}}
			</div>

		</div>